<html xmlns:th="http://www.thymeleaf.org">
<link href="plus.css"  th:href="@{/css/plus.css}" rel="stylesheet">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css"  th:href="@{/css/starter-template.css}" rel="stylesheet">
  </head>

  <body>

	<h1 th:text="${title}">仮のタイトル</h1>
    <main role="main" class="container">

<div th:object="${boardForm}">
<ul class="list-group">
 <label for="Title">Title</label>
  <li th:text="*{title}"class="list-group-item">title</li>
   <label for="Title">Name</label>
  <li th:text="*{name}"class="list-group-item">name</li>
   <label for="Title">Text</label>
  <li th:text="*{text}"class="list-group-item">text</li>
</ul>

<form method="post" action="#" th:action="@{/form}">
	<input type="hidden" name="title" th:value="*{title}">
	<input type="hidden" name="name" th:value="*{name}">
	<input type="hidden" name="text" th:value="*{text}">
<button type="submit" class="btn btn-primary">投稿内容修正</button>
</form>
<form method="post" action="#" th:action="@{/complete}">
	<input type="hidden" name="title" th:value="*{title}">
	<input type="hidden" name="name" th:value="*{name}">
	<input type="hidden" name="text" th:value="*{text}">
	<button type="submit" class="btn btn-primary">投稿完了</button>	
</form>
</div>




    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="@{/js/jquery-slim.min.js}"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"  th:src="@{/js/popper.min.js}"></script>
    <script src="../../dist/js/bootstrap.min.js"  th:src="@{/js/bootstrap.min.js}"></script>
  </body>
</html>